:root {
  --skin-color: #f5d6c6; /* 肌色の変数を追加 */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--light-blue);
  padding: 8px 16px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: var(--light-blue);
  border-radius: 4px;
}

@font-face {
  font-family: 'FuwaMoko';
  src: url('/fonts/fuwamocofont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fuwamoko {
  font-family: 'FuwaMoko', sans-serif;
  font-size: 3rem; /* フォントサイズを大きく設定 */
  color: orange; /* 直接オレンジ色を指定 */
  text-align: center;
  margin: 0.5em 0;
}
